.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
bin/*
!bin/maps/CombinedIsotope-OtherModelAssignments.grd
!bin/maps/*.grd$
data
figs/*
!figs/fig1_v1.png
!figs/fig2_v1.png
!figs/fig3_v3.png
!figs/fig_s1.png
figs_archive/
.Rprofile
tmp/*
R_testing/*
